div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Travel App
    p.lead Find cheap getaways as low as $50 round trip.
    img(src='assets/images/plane.png', alt='I\'m Yeoman')

.container
  form
    .form-group
      label Where do you want to go?
      input.form-control(type='text', placeholder='Beach, New York, Museum, Europe, Canoeing')
    button.btn.btn-default(type='submit') Search


footer.footer
  .container
    p
      | Travel App
      = ' | '
      a(href='https://twitter.com/travelapp') @travelapp
